* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #131213;
}

.app-container {
  display: flex;
  height: 100vh;
  color: #ffffff;
}

.create-task-container {
  width: 40%;
  background-color: #1a171d;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.heading {
  color: #f3aa4e;
  font-size: 28px;
  font-weight: bold;
}

.label {
  font-size: 14px;
  color: #f1f5f9;
}

.task-input,
.tag-select {
  width: 100%;
  padding: 10px;
  background-color: #f8fafc;
  border: 1px solid #64748b;
  border-radius: 5px;
  font-size: 14px;
}

.add-task-btn {
  background-color: #f3aa4e;
  border: none;
  padding: 10px;
  border-radius: 6px;
  color: #000000;
  font-size: 16px;
  cursor: pointer;
  width: 150px;
}

.add-task-btn:hover {
  background-color: #db8f33;
}

.tags-container {
  width: 60%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.fliterTags {
  list-style: none;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.fliterTags li {
  list-style: none;
}

.tag-btn {
  background-color: #323f4b;
  border: 1px solid #475569;
  color: #f8f8f8;
  padding: 6px 14px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
}

.tag-btn.active {
  background-color: #f3aa4e;
  color: #000000;
}

.tag-btn:hover {
  opacity: 0.85;
}

.tasks-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.task-item {
  background-color: #323f4b;
  border-left: 6px solid #f3aa4e;
  padding: 12px;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 6px;
}

.task-text {
  color: #ffffff;
  font-size: 16px;
}

.task-tag-label {
  background-color: #f3aa4e;
  color: #000;
  padding: 6px 12px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: bold;
}

.no-tasks-text {
  color: #64748b;
  font-size: 16px;
  margin-top: 10px;
}
